/// =================================================================================
/// Grid-related
/// =================================================================================
$grid--column-width: 60px;                                /// 60px
$grid--gutter-width: ($grid--column-width / 3);           /// 20px
$grid--unit: ($grid--column-width + $grid--gutter-width); /// 80px

/// =================================================================================
/// Widths
/// =================================================================================
$width--border--thin:   1px;

/// =================================================================================
/// Colors
/// =================================================================================
$color--border: #000;

/// =================================================================================
/// Breakpoints
/// =================================================================================
$breakpoint--desktop: (15 * $grid--unit);
$breakpoint--tablet:  (10 * $grid--unit);
