@import 'variables';

* {
   margin: 0;
   padding: 0;
}

body {
   margin: auto;
   width: (15 * $grid--unit);

   @media (max-width: ($breakpoint--desktop + $grid--unit)) {
      width: (10 * $grid--unit);
   }

   @media (max-width: ($breakpoint--tablet + $grid--unit)) {
      width: 100%;
   }
}

table{
   border: 4px solid black;
}

td{
   border: 1px dashed grey;
}

table{
   border-collapse: collapse;
}
